= form_for @income do |f|
  - if @income.errors.any?
    #error_explanation
      %h2= "#{pluralize(@income.errors.count, "error")} prohibited this income from being saved:"
      %ul
        - @income.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
